/* Write your CSS here! */
.navBar {
    background-color: plum;
    color:black;
    font-family: monospace;
    font-size: 50px;
    

}

.body {
    margin: 8px;
    display: block;
}

li{
   list-style: none;
   margin-left: 20px;
   display:inline;
   font-size: 21px;
   font-style: oblique;
   
}

li a:hover {
    background-color: aliceblue;
  }

.paragraph {

 font-size: 20px;   
   
    
}

img {
    width: 480px;
    height: 570px;
    display:inline
}

.image {
    
    
}

.footer {
    font-size: smaller;
    text-align:end
}

.facts {
    font-size: 20px;
}