/* Write your CSS here! */
Nav {
    background-color:cadetblue;
    color:black;
    font-family: monospace;
    font-size: 50px;

}



.li{
   list-style: none;
   margin-left: 20px;
   display:inline;
   font-size: 21px;
   font-style: oblique;
}

.Paragraph {

 font-size: 20px;   
   
    
}

.footer {
    font-size: smaller;
    text-align:end
}

.Facts {
    font-size: 20px;
}